<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mx-2" routerLink="/">Animes</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link mx-5" routerLink="/">Listado de animes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link mx-5" routerLink="/anime">Creador</a>
      </li>
    </ul>
  </div>
</nav>
